src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/1.0-SNAPSHOT/mule-mulerequester.xsd">
    
    <mulerequester:config name="Mule_Requester"/>
    
    <flow name="testDefaultRequest">
        <mulerequester:request resource="vm://in" config-ref="Mule_Requester" />
    </flow>

    <flow name="testDefaultTimeout">
        <mulerequester:request resource="vm://delay" config-ref="Mule_Requester"/>
    </flow>

    <flow name="testCustomTimeout">
        <mulerequester:request resource="vm://delay" timeout="2000" config-ref="Mule_Requester"/>
    </flow>

    <flow name="testTransformer">
        <mulerequester:request resource="vm://in" returnClass="java.lang.String" config-ref="Mule_Requester"/>
    </flow>

    <flow name="testResourceFromPayload">
        <set-payload value="vm://testpayload" />
        <mulerequester:request resource="#[payload]" config-ref="Mule_Requester"/>
    </flow>

    <flow name="testResourceFromProperties">
        <set-variable variableName="myresource" value="vm://testproperties" />
        <mulerequester:request resource="#[flowVars['myresource']]" config-ref="Mule_Requester"/>
    </flow>
    
    <flow name="testThrowExceptionOnTimeout">
        <mulerequester:request resource="vm://timeout" timeout="1000" throwExceptionOnTimeout="true" config-ref="Mule_Requester"/>
    </flow>
    
</mule>
